.containerTable {
  border: solid 1px #4a5f84;
  padding: 10px;
  width: fit-content;
  font-family: "Roboto";
  overflow-y: auto;

  .overlay {
    background-color: rgba($color: #8d8d8d, $alpha: 0.3);
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }
  .overlay.active {
    opacity: 1;
    pointer-events: all;
  }
  .box.active {
    transform: translate(-50%, -50%) scale(1);
  }
  .box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 4px;
    z-index: 100;
    background-color: white;
    min-width: 70%;
    width: fit-content;
    max-width: 100%;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #cad4e3;
      height: 26px;
      padding: 0 10px;
      color: white;
      font-size: 14px;
      .x-button {
        cursor: pointer;
      }
    }
    .content {
      padding: 1rem;
      overflow: scroll;
    }
    .content.small {
      height: 96px;
    }
    .content.medium {
      height: 160px;
    }
    .content.large {
      height: 320px;
    }
    .content.xlarge {
      height: 545px;
    }
  }
  .tableName {
    height: 26px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .text {
      padding-right: 1rem;
    }
  }
  .mainTable {
    border-collapse: collapse;
    border: solid 1px #f9f9f9;
  }
}

.Head {
  .Row {
    border-collapse: separate;
    background-color: white;
    border-bottom: solid 1px #f9f9f9;

    .Data {
      width: fit-content;
      padding: 0;
      cursor: pointer;
      color: #646464;
      padding: 0 0 0 0.5rem;
      .Content {
        width: 100%;
        height: 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-right: solid 1px #f9f9f9;
      }
      .text {
        font-size: 12px;
        padding-right: 1rem;
      }
      .filterIcon {
        padding-right: 2px;
        font-size: 10px;
      }
    }
  }
}

.Body {
  .Row:nth-child(odd) {
    background-color: #f9f9f9;
  }
  .Row {
    border-collapse: separate;
    cursor: pointer;
    color: #464646;
    .Data {
      padding: 0;
      font-size: 12px;
      padding: 0 0.5rem;
      .BodyContent {
        width: max-content;
        display: flex;
        align-items: center;
        height: 18px;
      }
    }
  }
  .Row:hover {
    background-color: #f4f4f4;
  }
  .btn {
    font-size: 8px;
  }

  width: 100%;
}
