.containerTable {
  border: solid 1px #4a5f84;
  padding: 10px;
  width: fit-content;
  font-family: "Roboto";
  overflow-y: auto;
  .tableName {
    font-size: 12px;
    font-weight: bold;
    padding: 2px;
  }
  .mainTable {
    border-collapse: collapse;
    border: solid 1px #e6e6e6;
  }
}

.Head {
  .Row {
    border-collapse: separate;
    background-color: white;
    border-bottom: solid 1px #e6e6e6;
    .Data {
      padding: 0;

      .Content {
        width: max-content;
        height: 18px;
        overflow: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.5rem;
        border-right: solid 1px #e6e6e6;
      }
      cursor: pointer;
      color: #646464;
      .filterIcon {
        font-size: 10px;
      }
      .text {
        font-size: 12px;
        padding-right: 1rem;
      }
    }
  }
}

.Body {
  .Row:nth-child(odd) {
    background-color: #f9f9f9;
  }
  .Row {
    border-collapse: separate;
    cursor: pointer;
    color: #464646;
    .Data {
      padding: 0;
      .BodyContent {
        width: max-content;

        height: 18px;
      }
      font-size: 12px;
      padding: 0 0.5rem;
    }
  }
  .Row:hover {
    background-color: #f4f4f4;
  }
  .btn {
    font-size: 8px;
  }
  .WhiteSpace {
    height: 100px;
    width: 100%;
  }
}
